
@{
    ViewBag.Title = "Index";
}

<div id="breedweightgrid">
    @(Html.Kendo().Grid<Nepaltech.Models.Forms.BreedWeightModel>()
    .Name("BreedWeightId")
    .Columns(columns =>
    {
    columns.Bound(p => p.Id).Hidden();
    columns.Bound(p => p.BreedName);
    columns.Bound(p => p.BreedType);
    columns.Bound(p => p.Age).ClientTemplate("#=Age#" + " days");
    columns.Bound(p => p.Weight).ClientTemplate("<a href='/BreedWeight/Details/#=Id#'>#=Weight#</a>");
    columns.Template(@<text>option</text>).ClientTemplate(
                                                            "<a onclick=\"updateBreedWeight(event,this)\" href=\"/BreedWeight/edit/#: Id#\" class=\"k-button k-button-icontext edit-roomType\"><span class=\"k-icon k-i-edit\"></span>Edit</a>" +
                                                               "<form onsubmit=\"deleteBreedWeight(event,this)\" method=\"post\" class=\"k-grid-actions\" action=\"/BreedWeight/delete?Id=#: Id#\"><div><button  type=\"submit\" class=\"k-button k-button-icontext k-grid-delete\"><span class=\"k-icon k-i-delete\"></span>Delete</button></div>" +
                                                               "</form>"
                          );

    })
    .Pageable()
    .Sortable()
    .Scrollable()
    //.Filterable()
    .HtmlAttributes(new { style = "height:550px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .Read(read => read.Action("GetBreedWeight", "BreedWeight"))
        .Sort(x => x.Add("Age").Ascending())
     )
    )
</div>

@(Html.Kendo().Window()
.Name("window-update-breedweight")
.Title("Update BreedWeight")
//.HtmlAttributes(new{@class="col-md-10"})
//.Width(500)
//.Height(500)
.Modal(true)
.Visible(false)
.Draggable(true)


)

<style>
    #breedweightgrid {
        font-size: 14px;
        font-family: Arial;
    }
</style>