@model Nepaltech.Entities.AddChickenInFarm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@{ 
    Html.RenderPartial("Forms/_DetailsChickenInFarm");
}



@*@section scripts{
    
<script src="~/Scripts/app/Breed/details-chickenfeeds.js"></script>
}*@