
@model Nepaltech.Models.Forms.BatchShiftingModel
@{
    ViewBag.Title = "Index";
}

<h2>Batch</h2>

<div>

    @Html.ActionLink("AddBatchShifting", "Create", null, new { @class = "btn btn-primary", id = "btn-add-batch" })
</div>

<div id="example">
    @(Html.Kendo().Grid<Nepaltech.Models.Forms.BatchShiftingModel>()
    .Name("grid")
    .Columns(columns =>
    {
    columns.Bound(p => p.Id).Hidden();
    columns.Bound(p => p.BatchLocationId);
    columns.Bound(p => p.TotalMalePrevious).ClientTemplate("<a href='/Batch/Details/#=Id#'>#=Code#</a>");
    columns.Bound(p => p.TotalFemalePrevious);
    columns.Bound(p => p.TotalMale);
    columns.Bound(p => p.TotalFemale);
    columns.Template(@<text>option</text>).ClientTemplate(
                                                               "<a onclick=\"updateBatch(event,this)\" href=\"/Batch/edit/#: Id#\" class=\"k-button k-button-icontext edit-roomType\"><span class=\"k-icon k-edit\"></span>Edit</a>" +
                                                               "<form onsubmit=\"removeBatch(event,this)\" method=\"post\" class=\"k-grid-actions\" action=\"/Batch/delete?Id=#: Id#\"><div><button  type=\"submit\" class=\"k-button k-button-icontext k-grid-delete\"><span class=\"k-icon k-delete\"></span>Delete</button></div>" +
                                                               "</form>"
                          );

    })
    .Pageable()
    .Sortable()
    .Scrollable()
     //.Filterable()w { 
     .HtmlAttributes(new { style = "height:550px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .Read(read => read.Action("GetBatchShifting", "BatchShifting"))
     )
    )
</div>


@(Html.Kendo().Window()
.Name("window-update-batchshifting")
.Title("Update BatchShifting")
//.HtmlAttributes(new{@class="col-md-10"})
//.Width(500)
//.Height(500)
.Modal(true)
.Visible(false)
.Draggable(true)

)


@section scripts{
    <script type="text/javascript">
        var chargetypeUpdateWindow;
        var batchgrid;

        function updateBatchShifting(e, link) {
            e.preventDefault();
            $.get(link.href, null, function (response) {
                chargetypeUpdateWindow.open();
                chargetypeUpdateWindow.center();
                chargetypeUpdateWindow.content(response);

            });

        }
        function removeBatchShifting(e, element) {
            e.preventDefault();
            if (window.confirm("are you sure you want to permanently remove payment Type ")) {

                $.ajax({
                    type: "POST",
                    url: element.action,
                    data: null,
                    success: function (data, statusCode, xhr) {
                        if (data === 1) {
                            batchgrid.dataSource.read();
                            updateBillingDetail();
                        }
                    },
                    error: function (xhr, errorType, exception) { //Triggered if an error communicating with server
                        var errorMessage = exception || xhr.statusText; //If exception null, then default to xhr.statusText
                        alert(xhr.statusText);
                    }

                });

            };
        }


        $(function () {
            chargetypeUpdateWindow = $('#window-update-batchshifting').data('kendoWindow');
            batchgrid = $('#grid').data('kendoGrid');
            $('#btn-add-batchshifting').click(function (e) {

                $.get($(this).attr('href'), null, function (response) {
                    chargetypeUpdateWindow.content(response);
                    chargetypeUpdateWindow.open();
                    chargetypeUpdateWindow.center();
                });
                e.preventDefault();
            });

            $('body').on('submit', '#form-add-batchshifting', function (e) {
                e.preventDefault();

                $.post($(this).attr('action'), $(this).serialize(), function (response) {
                    if (response == 1) {
                        chargetypeUpdateWindow.close();
                        batchgrid.dataSource.read();
                    } else {
                        chargetypeUpdateWindow.content(response);

                    }

                });

            });

       })
    </script>

}

