
@{
    ViewBag.Title = "Post";
}

<body>
    <form action="~/">
        <select name="">
            <option value="Index">
               index</option>
            <option value="post">post</option>>
        </select>
     
        <br />
        <br />
        <input type="submit" />
    </form>
</body>