@model InventoryMgmt.Models.AddStoresModel
@{
    ViewBag.Title = "Details";
    //var id = (string)ViewBag.StoreId;
}

<h2>Details</h2>

@{ 
    Html.RenderPartial("Forms/_DetailStores", Model);
}





