@using Nepaltech.Models.Forms
@model string
@{
    ViewBag.Title = "Index";
}

<div id="example">
    @(Html.Kendo().Grid<ChickenMortalityModel>()
        .Name("chickenmortalityid")
        .Columns(columns =>
        {
        columns.Bound(p => p.Location);
        columns.Bound(p => p.MortalityPercentage);
        columns.Bound(p => p.DeadChickenMale);
        columns.Bound(p => p.DeadChickenFemale);
        columns.Bound(p => p.DateEntry).Format("{0:MMM dd, yyyy, ddd}");
        columns.Bound(p => p.DateCreated).Hidden();
        columns.Template(@<text>option</text>).ClientTemplate(
                                                            "<a onclick=\"updatechickenmortality(event,this)\" href=\"/ChickenMortality/edit/#: Id#\" class=\"k-button k-button-icontext edit-roomType\"><span class=\"k-icon k-i-edit\"></span>Edit</a>" +
                                                               "<form onsubmit=\"deletechickenmortality(event,this)\" method=\"post\" class=\"k-grid-actions\" action=\"/ChickenMortality/delete?Id=#: Id#\"><div><button  type=\"submit\" class=\"k-button k-button-icontext k-grid-delete\"><span class=\"k-icon k-i-delete\"></span>Delete</button></div>" +
                                                               "</form>"
                          );


        })
    .Pageable()
    .Sortable()
    .Scrollable()
    //.Filterable()
    .HtmlAttributes(new { style = "height:550px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .Read(read => read.Action("GetChickenMortality", "ChickenMortality",new { id = Model }))
        .Sort(x => x.Add("DateEntry").Ascending())
        .Sort(x => x.Add("Location").Ascending())
     )
    )
</div>


@(Html.Kendo().Window()
.Name("window-update-ChickenMortality")
.Title("Update ChickenMortality")
//.HtmlAttributes(new{@class="col-md-10"})
//.Width(500)
//.Height(500)
.Modal(true)
.Visible(false)
.Draggable(true)


)
