
@{
    ViewBag.Title = "Index";
}
@model string

<div id="breedfeedgrid">
    @(Html.Kendo().Grid<Nepaltech.Models.Forms.BreedFeedModel>()
    .Name("BreedFeedgrid")
    .Columns(columns =>
    {
    columns.Bound(p => p.Id).Hidden();
    //columns.Bound(p => p.BreedName);
    columns.Bound(p => p.BreedType);
    columns.Bound(p => p.AgeFrom).ClientTemplate("#=AgeFrom#"+" - "+"#=AgeTo#" + " days").Title("Age");
    columns.Bound(p => p.FeedName).ClientTemplate("<a href='/BreedFeed/Details/#=Id#'>#=FeedName#</a>");
    columns.Bound(p => p.MaleQuantity).ClientTemplate("#=MaleQuantity#" + " grams");

    columns.Bound(p => p.FemaleQuantity).ClientTemplate("#=FemaleQuantity#" + " grams");
    columns.Template(@<text>option</text>).ClientTemplate("<a onclick=\"updatebreedfeeds(event,this)\" href=\"/BreedFeed/edit/#: Id#\" class=\"k-button k-button-icontext edit-roomType\"><span class=\"k-icon k-i-edit\"></span>Edit</a>" +
                                                               "<form onsubmit=\"deletebreedfeeds(event,this)\" method=\"post\" class=\"k-grid-actions\" action=\"/BreedFeed/delete?Id=#: Id#\"><div><button  type=\"submit\" class=\"k-button k-button-icontext k-grid-delete\"><span class=\"k-icon k-i-delete\"></span>Delete</button></div>" +
                                                               "</form>"

                          );
        
    })
    .Pageable()
    .Sortable()
    .Scrollable()
    //.Filterable()
    .HtmlAttributes(new { style = "height:550px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .Read(read => read.Action("GetFeeds", "BreedFeed",new { id = Model }))
        .Sort(x => x.Add("BreedType").Ascending())
        .Sort(x => x.Add("AgeFrom").Ascending())
        
     )
    )
</div>


@(Html.Kendo().Window()
.Name("window-update-breedfeeds")
.Title("Update BreedFeeds")
//.HtmlAttributes(new{@class="col-md-10"})
//.Width(500)
//.Height(500)
.Modal(true)
.Visible(false)
.Draggable(true)
)

<style>
    #breedfeedgrid {
        font-size: 14px;
        font-family: Arial;
    }
</style>