body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.skin-blue .main-header .navbar {
    background-color: #404446;
}

.breed{
    margin:5px !important;
}

.k-grid td{
    border-width: 0 0 0 0 !important;
    height: 50px;
}

#example{
    font-size: 14px;
    font-family: Arial;
}

.k-grid-header{
    background-color: white;
}

.k-button{
    border-color: #fafafa !important;
    background-color: #fafafa !important;
    text-transform: uppercase;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}
.k-button:hover {
    background-color:#3674d8 !important;
    color: #fff !important;
    transform: translateY(-2px);
}

.k-grid-header th.k-header>.k-link{
    color:#ffffff;
    border-width: 0 0 0 0;
}

.k-grid-header .k-header{
    background-color: #3c8dbc;
}

.k-grid-header th.k-header{
    border-width: 0 0 0 0;
}

.k-header{
    background-color:#cde4e3;
}

.k-state-selected{
    background-color: #269ec1 !important;
    border-color: #269ec1 !important;
}

.nav-tabs > li > a{
    font-size: 14px;
    font-family: Arial;
}

/*.hidden-xs {
    display: inline !important;
}*/
